
/*VARS*/
:root {
    --black: #151515;
    --grey: #979797;
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: #151515;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.header-main {
    background-color: #151515;
}

.header__inner {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phone {
    color: white;
}

.header__social {
    display: flex;
    align-items: center;
    gap: 20px;
}

a svg #whatsapp {
    transition: 0.5s;
}

a svg #telegram {
    transition: 0.5s;
}

.header__social-link svg:hover #whatsapp {
    stroke: white;
    stroke-width: 2px;
    fill: transparent;
}

.header__social-link svg:hover #telegram{
    stroke: white;
    stroke-width: 2px;
    fill: transparent;
}
.menu__list {
    display: flex;
    gap: 35px;
}

.menu__list-link {
    color: white;
    text-transform: uppercase;
}

.top__title {
    font-size: 72px;
    color: white;
    text-transform: uppercase;
}

.top__subtitle {
    font-size: 36px;
    color: white;
    text-transform: uppercase;
}

.button {
    width: 250px;
    height: 50px;
    font-family: inherit;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.button__white {
    background-color: white;
    transition: 0.5s;
}

.button__white:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}