/*VARS*/
:root {
    --white: #ffffff;
    --black: #151515;
    --gray: #979797;
    --blackout: rgba(21, 21, 21, .7);

}

html,
body{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.unscroll {
    overflow: hidden;
}

.main {
    flex-grow: 1;
}

/*title*/
.title {
    color: var(--black);
    font-size: 36px;
    line-height: normal;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}

.title:after {
    content: '';
    width: 80px;
    height: 3px;
    background-color: var(--black);
    position: absolute;
    top: 20px;
    margin-left: 20px;
}

/*buttons*/
.button {
    width: 250px;
    height: 50px;
    font-family: inherit;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.button__white {
    background-color: white;
    transition: 0.5s;
    border: 1px solid black;
}

.button__white:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

/*multibutton*/

.multibutton {
    position: fixed;
    z-index: 9;
    right: 30px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 70px;
    height: 70px;
    transition: 0.2s ease;
}

.multibutton:hover {
    width: auto;
    height: auto;
}

.multibutton:hover .multibutton__list {
    position: relative;
    top: auto;
    bottom: 10px;
    visibility: visible;
}

.multibutton:hover .multibutton__item {
    visibility: visible;
    opacity: 1;
    transition: 0.3s ease;
    transform: scaleX(1) scaleY(1) translateY(0);
}

/*.multibutton.multibutton--open {*/
/*    width: auto;*/
/*    height: auto;*/
/*}*/

/*.multibutton.multibutton--open .multibutton__list {*/
/*    position: relative;*/
/*    top: auto;*/
/*    bottom: 10px;*/
/*    visibility: visible;*/
/*}*/

/*.multibutton.multibutton--open .multibutton__item {*/
/*    visibility: visible;*/
/*    opacity: 1;*/
/*    transition: 0.3s ease;*/
/*    transform: scaleX(1) scaleY(1) translateY(0);*/
/*}*/

.multibutton__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 13px;
    top: 80px;
    visibility: hidden;
    transition: 0.3s ease;
    list-style: none;
    padding: 0;
    margin: 0;
}

.multibutton__title {
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
    background: var(--gray);
    border-radius: 20px;
    padding: 13px;
    transition: all .5s;
}

.multibutton__title:hover {
    color: black;
}

.multibutton__item {
    display: flex;
    align-items: center;
    margin: 4px 0;
    transform: scaleX(0.4) scaleY(0.4) translateY(150px);
    opacity: 0;
    visibility: hidden;
}

.multibutton__button {
    width: 70px;
    height: 70px;
    background: #c9c9c9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: animation_button 3s linear infinite;
    transition: all 200ms ease-out;
}

@keyframes animation_button {
    0% {
        box-shadow: 0 0 0 0 #ffba26, 0 0 0 0 rgba(255, 206, 9, 0.7);
    }
    40% {
        box-shadow: 0 0 0 7px rgba(255, 186, 38, 0), 0 0 0 3px rgba(255, 206, 9, 0.7);
    }
    80% {
        box-shadow: 0 0 0 13px rgba(255, 186, 38, 0), 0 0 0 6px rgba(255, 206, 9, 0);
    }
    100% {
        box-shadow: 0 0 0 16px rgba(255, 186, 38, 0), 0 0 0 8px rgba(255, 206, 9, 0);
    }
}

.multibutton__button svg {
    width: 30px;
    height: 30px;
    fill: var(--black);
}


.multibutton__item:nth-child(1) .multibutton__icon {
    background: var(--gray);
}

.multibutton__item:nth-child(2) .multibutton__icon {
    background: var(--gray);
}

.multibutton__item:nth-child(3) .multibutton__icon {
    background: var(--gray);
}

.multibutton__item:nth-child(4) .multibutton__icon {
    background: var(--gray);
}

.multibutton__icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    transition: all .5s;
}

.multibutton__icon svg {
    width: 26px;
    height: 26px;
    fill: #fff;
    transition: all .5s;
}

.multibutton__icon:hover svg {
    fill: black;
}

/*button__burger*/
.menu__btn {
    position: relative;
    z-index: 8;
    width: 30px;
    height: 22px;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
}

.menu__btn span {
    display: block;
    position: absolute;
    height: 2px;
    background-color: var(--white);
    width: 100%;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menu__btn span:nth-child(1) {
    top: 0px;
}
.menu__btn span:nth-child(2) {
    top: 10px;
}
.menu__btn span:nth-child(3) {
    top: 20px;
}

.menu__btn.menu__btn--open span:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
}
.menu__btn.menu__btn--open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
.menu__btn.menu__btn--open span:nth-child(3) {
    top: 10px;
    transform: rotate(-135deg);
}

/*modal*/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal__box {
    position: relative;
    max-width: 800px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    background-color: var(--black);
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform .8s;
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.modal__close-btn svg path {
    transition: fill .4s;
}

.modal__close-btn:hover svg path {
    fill: var(--gray);
}

.modal__close-btn:active svg path {
    fill: rgb(186, 53, 0);
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal__box {
    transform: scale(1);
}




body {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 400;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

._section {
    margin-bottom: 70px;
}

._inner {
    margin-top: 60px;
}

.header-main {
    background-color: transparent;
    position: relative;
    z-index: 10;
}

.header {
    background-color: var(--black);
    position: relative;
    z-index: 10;
}

.header__inner {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.logo__img {
    position: relative;
    z-index: 8;
    width: 100px;
    height: auto;
}

.phone {
    position: relative;
    z-index: 8;
    font-size: 30px;
    color: white;
}

.header__social {
    position: relative;
    z-index: 8;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
    bottom: -2px;
}

a svg #whatsapp {
    transition: 0.5s;
}

a svg #telegram {
    transition: 0.5s;
}

.header__social-link svg:hover #whatsapp {
    stroke: white;
    stroke-width: 2px;
    fill: black;
}

.header__social-link svg:hover #telegram {
    stroke: white;
    stroke-width: 2px;
    fill: black;
}

.menu__list {
    display: flex;
    gap: 35px;
}

.menu__list-link {
    position: relative;
    color: white;
    text-transform: uppercase;
}

.menu__list-link--active {
    color: var(--gray);
}

.menu__list-link:after {
    content: "";
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -4px;
    left: 0;
    z-index: 1;
    transition: width 0.2s linear;
}

.menu__list-link:hover:after {
    width: 100%;
}

.top {
    position: relative;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    margin: -350px 0 70px 0;
}

.top:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--blackout);
}

.top__content {
    position: relative;
    padding: 500px 0 0 0;
}

.top__title {
    font-size: 72px;
    color: white;
    text-transform: uppercase;
    line-height: normal;
}

.top__title p {
    display: inline-block;
}

.top__subtitle {
    margin: 0 0 250px 0;
    font-size: 36px;
    color: white;
    text-transform: uppercase;
    line-height: 150%;
}

.top__banner {
    position: absolute;
    top: 360px;
    right: 0;
}

.top__button {
    margin-bottom: 250px;
}

/*benefits*/
.benefits__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
}

.benefits__img {
    position: absolute;
    max-width: 100%;
    height: auto;
    left: 0;
    z-index: 1;
}

.benefits__list {
    list-style: none;
    counter-reset: my-counter;
}

.benefits__item {
    border: 2px solid var(--gray);
    color: var(--gray);
    margin: 0 0 12px 0;
    max-width: 720px;
    min-height: 100px;
    padding: 10px 15px 10px 80px;
    counter-increment: my-counter;
    position: relative;
    transition: all .3s;
}

.benefits__item:hover {
    border: 2px solid var(--black);
}

.benefits__item:before {
    position: absolute;
    left: 20px;
    font-size: 36px;
    line-height: 54px;
    font-weight: 400;
    color: var(--gray);
    transform: rotate(270deg);
    content: '0' counter(my-counter);
    transition: all .5s;
}

.benefits__item:hover::before {
    color: var(--black);
}

.benefits__item-title {
    color: var(--gray);
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;
    transition: all .5s;
}

.benefits__item:hover .benefits__item-title {
    color: var(--black);
}

.benefits__item-text {
    line-height: 1.2;
    transition: all .5s;
}

.benefits__item:hover .benefits__item-text {
    color: var(--black);

}

/*buyback*/
.buyback__title {
    margin-left: 620px;
}

.buyback__inner {
    display: flex;
    justify-content: space-between;
}

.buyback__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
    background-color: var(--black);
    padding: 30px 300px 30px 68px;
    /*margin: 50px 0 25px 0;*/
}

.buyback__item-img {
    margin-bottom: 12px;
}

.buyback__item-title {
    font-size: 24px;
    font-weight: 300;
    color: var(--white);
    margin-bottom: 10px;
}

.buyback__item-text {
    font-size: 18px;
    color: var(--gray);
}

.buyback__image {
    object-fit: contain;
}

.docs__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.docs__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.docs__item-title {
    font-size: 24px;
}

.docs__item-text {
    font-size: 20px;
    font-weight: 300;
    line-height: 130%;
    text-align: center;
}

.docs__content {
    position: relative;
    margin: 80px 0 0 0;
}

.docs__content-img {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 100%;
    height: auto;
}

.docs__content-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 390px;
}

.docs__content-t1 {
    color: var(--black);
    opacity: 80%;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 170%;
}

.docs__content-t1 span {
    color: var(--gray);
}

.docs__content-t2 {
    color: var(--black);
    opacity: 70%;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 0 30px 0;
}

.docs__content-t2 span {
    color: var(--gray);
}

.docs__content-t3 {
    position: absolute;
    color: rgba(151, 151, 151, 0.15);
    font-size: 200px;
    line-height: 120%;
    font-weight: 500;
    z-index: -1;
    bottom: 0;
    right: 0;
}

.docs__button {
    margin-bottom: 30px;
}

/*carousel*/

.carousel__title {
    margin-left: 620px;
}

.carousel__inner {
    margin: 60px 0 0 -7px;
}

.carousel__item {
    cursor: pointer;
    margin: 0 7px;
}

.carousel__item-box {
    border: 1px solid var(--gray);
    padding: 6px 6px 16px 6px;
    text-align: center;
    transition: all .5s;
}

.carousel__item-box:hover {
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--black);
}

.carousel__item-img {
    width: 100%;
    margin-bottom: 23px;
}

.carousel__item-title {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 5px;
}

.carousel__item-text {
    font-size: 18px;
    font-weight: 300;
}

.carousel .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    list-style: none;
}

.carousel .slick-dots button {
    font-size: 0;
    border: none;
    padding: 0;
    margin: 0 10px;
    background-color: var(--gray);
    width: 50px;
    height: 2px;
    cursor: pointer;
}

.carousel .slick-dots {
    cursor: pointer;
}

.carousel .slick-active button {
    background-color: var(--black);
    height: 4px;
}

/*blog*/

.blog__inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.blog__item {
    max-width: 580px;
    flex-basis: 50%;
}

.blog__item-img {
    max-width: 100%;
}

.blog__item-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 5px;
}

.blog__item-text {
    overflow: hidden;
    position: relative;
    max-height: 70px;
    font-size: 18px;
    font-weight: 300;
    line-height: 130%;
    margin-bottom: 20px;
}

.blog__item-text:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 70px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 100%);
    pointer-events: none;
}

/*about*/
.about__title {
    margin-left: 620px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

}

.about__img {
    max-width: 100%;
    height: auto;
}

.about__content {
    max-width: 550px;
    margin-right: 10px;
}

.about__content p{
    color: var(--black);
    font-size: 24px;
    font-weight: 300;
    line-height: 130%;
    text-align: justify;
}

.about__link {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    margin-top: 30px;
    text-decoration: underline;

}

/*partners*/
.partners__inner {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-shrink: 1;
}

.partners__item-img {
    width: 100%;
    height: auto;
}



/*footer*/
.footer {
    background-color: var(--black);
    color: white;
}

.footer__inner {
    padding-top: 30px;
    padding-bottom: 30px;
}


.footer__contacts-container {
    display: block;
    /*max-width: 580px;*/
}

.footer__contacts-title {
    color: white;
    margin-bottom: 60px;
}

.footer__contacts-title:after {
    background-color: white;
}

.form__title {
    width: 100%;
    color: white;
    text-align: left;
    margin-bottom: 60px;
}

.form__title:after {
    display: none;
}

.footer__map {
    display: block;
    /*max-width: 580px;*/
    height: 450px;
    padding-bottom: 5px;
}


.map {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */

    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.footer__contacts-list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.footer__list-item {
    font-size: 16px;
    line-height: 150%;
}


.footer__list-text {
    color: var(--gray);
    font-weight: 300;
}

.form {
    max-width: 600px;
    height: auto;
    text-align: center;
    padding: 0 15px;
}

.form label {
    width: 100%;
}

.form__input {
    background-color: transparent;
    width: 100%;
    height: 75px;
    color: #fff;
    border: 1px solid #fff;
    display: block;
    margin: 0 0 28px 0;
    font-size: 24px;
    padding: 0 8px;
    text-align: center;
}

.form__input::placeholder {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    color: var(--gray);
}


input::-webkit-input-placeholder {
    text-indent: 0;
    transition: text-indent 0.3s ease;
}

input::-moz-placeholder {
    text-indent: 0;
    transition: text-indent 0.3s ease;
}

input:-moz-placeholder {
    text-indent: 0;
    transition: text-indent 0.3s ease;
}

input:-ms-input-placeholder {
    text-indent: 0;
    transition: text-indent 0.3s ease;
}


input:focus::-webkit-input-placeholder {
    transform: translateY(-10px);
    text-indent: -60%;
    transition: text-indent 0.3s ease;
}

input:focus::-moz-placeholder {
    transform: translateY(-10px);
    text-indent: -60%;
    transition: text-indent 0.3s ease;
}

input:focus:-moz-placeholder {
    transform: translateY(-10px);
    text-indent: -60%;
    transition: text-indent 0.3s ease;
}

input:focus:-ms-input-placeholder {
    transform: translateY(-10px);
    text-indent: -60%;
    transition: text-indent 0.3s ease;
}

.form__button {
    margin: 10px 0 70px 0;
}

.form__policy-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.policy {
    text-align: left;
    font-size: 12px;
    font-weight: 200;
}

.form__logo {
    width: 70px;
    height: auto;
    justify-self: right;
}

/*MEDIA*/
@media (max-width: 1925px) {
    .top__content {
        padding-top: 395px;
    }
}

@media (max-width: 1450px) {
    .top {
        background-position: -350px 0;
    }

    .top__button {
        margin-bottom: 200px;
    }
}

@media (max-width: 1200px) {
    .top {
        background-position: -580px 0;
    }

    .top__banner {
        position: static;
        margin-bottom: 110px;
    }

    .top__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top__subtitle {
        margin-bottom: 20px;
    }

    .benefits__inner {
        display: flex;
        flex-direction: column;
    }

    .benefits__item-title {
        color: var(--black);
    }

    .benefits__img {
        position: static;
    }

    .buyback__list {
        /*min  default   min           min media  наш media  min media*/
        padding-right: calc(100px + (300 - 100) * ((100vw - 998px) / (1200 - 998)));
    }
}

@media (max-width: 1070px) {
    .title {
        text-align: center;
        margin-left: 0;
    }

    ._section {
        margin-bottom: 50px;
    }

    .about__content p {
        font-size: 20px;
    }

    .form__title {
        text-align: center;
        margin-bottom: 25px;
    }

    .form__title.title:after {
        display: none;
    }

    .footer__contacts-title {
        text-align: center;
        margin-bottom: 25px;
    }

    .footer__contacts-title.title:after {
        display: none;
    }

    .footer__contacts-list {
        justify-content: space-between;
    }

    .form {
        /*max-width: 580px;*/
    }
}

@media (max-width: 1000px) {
    .top__title {
        font-size: 54px;
        text-align: center;
    }

    .menu__btn {
        display: flex;
    }

    .menu__list {
        z-index: 6;
        position: fixed;
        background-color: var(--black);
        flex-direction: column;
        align-items: center;
        padding-top: 150px;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateX(-100%);
        transition: .5s ease-in-out;
    }

    .menu__list.menu__list--active {
        transform: translateY(0);
    }

    .buyback__list {
        width: 100%;
        text-align: center;
        padding-top: 60px;
        padding-left: 20px;
        padding-bottom: 60px;
    }

    .buyback__item {
        display: flex;
        align-items: center;
        max-width: 350px;
        margin-left: 25px;
        padding-right: 20px;
    }

    .buyback__item-img {
        width: 70px;
        height: auto;
        margin: 0 20px 0 0;
    }

    .buyback__item-title {
        font-size: 18px;
        text-align: left;
    }

    .buyback__item-text {
        font-size: 14px;
        text-align: left;
    }

    .buyback__image {
        width: 28%;
        height: auto;
    }

    .docs__content-img {
        position: static;
    }

    .docs__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .docs__list-img {
        width: 70px;
        height: auto;
    }

    .docs__content-banner {
        margin: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .docs__content-t3 {
        font-size: 160px;
        text-align: center;
        right: 50%;
        transform: translate(50%, 0);
    }

    .about__inner {
        flex-direction: column;

    }

    .about__inner-item {
        max-width: 550px;
    }

    .about__img {
        /*object-fit: contain;*/
        /*max-width: 470px;*/
    }
}

@media (max-width: 768px) {
    .top__title {
        text-align: center;
        font-size: 40px;
    }

    .top__subtitle {
        text-align: center;
        font-size: 20px;
    }

    .top {
        background-position: -650px 0;
    }

    .title:after {
        display: none;
    }

    .benefits__item {
        padding: 6px 6px 6px 46px;

    }

    .benefits__item:before {
        font-size: 24px;
        line-height: 36px;
        left: 6px;
        transform: rotate(270deg);
    }

    .benefits__item-title {
        font-size: 20px;
    }

    .benefits__item-text {
        font-size: 16px;
    }

    .buyback__list {
        padding-left: 10px;
    }

    .buyback__image {
        display: none;
    }

    .docs__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .docs__content-t1 {
        font-size: 24px;
        line-height: 100%;
        margin-bottom: 10px;
    }

    .docs__content-t2 {
        font-size: 32px;
        line-height: 100%;
        margin-bottom: 10px;
    }

    .docs__content-t3 {
        font-size: 110px;
        margin-bottom: 20px;
    }

    .docs__item-title {
        font-size: 18px;
    }

    .docs__item-text {
        font-size: 16px;
    }

    .docs__list {
        gap: 10px;
    }

    .docs__list-item {
        gap: 10px;
    }

    .blog__inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .partners__inner {
        flex-wrap: wrap;
    }

    .partners__item {
        max-width: 30%;
    }
}

@media (max-width: 480px) {
    .button {
        font-size: 15px;
        width: 180px;
    }

    .top__button {
        margin-top: 60px;
    }

    ._section {
        margin-bottom: 30px;
    }

    ._inner {
        margin-top: 20px;
    }

    .logo__img {
        width: 60px;
    }

    .phone {
        font-size: 20px;
    }

    .top {
        background-position: -1000px 100px;
    }

    .top__content {
        position: relative;
    }

    .top__banner {
        display: inline-block;
        position: absolute;
        width: 100px;
        height: auto;
        margin-top: 400px;
    }

    .top__subtitle {
        margin-top: 15px;
    }

    .top__button {
        margin-bottom: 180px;
    }

    .blog__inner {
        flex-direction: column;
    }

    .docs__content {
        margin-top: 35px;
    }

    .docs__content-t1 {
        font-size: 22px;
        line-height: 100%;
        margin-bottom: 10px;
    }

    .docs__content-t2 {
        font-size: 28px;
        line-height: 100%;
        margin-bottom: 10px;
    }

    .docs__content-t3 {
        font-size: 86px;
    }

    .carousel .slick-dots button {
        width: 28px;
    }

    .blog__button {
        font-size: 14px;
        width: 100px;
        height: 30px;
    }

    .footer__map {
        max-width: 450px;
    }

    .footer__list-title {
        font-size: 14px;
    }

    .footer__list-text {
        font-size: 14px;
    }
}

@media (max-width: 360px) {
    .top__button {
        margin-bottom: 120px;
    }

    .logo__img {
        width: 50px;
    }

    .phone {
        font-size: 16px;
    }

    .top__title {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .top__subtitle {
        font-size: 18px;
    }

    .top__banner {
        margin-top: 350px;
    }


    .docs__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .docs__content-t3 {
        font-size: 70px;
    }

    .docs__content-t2 {
        font-size: 20px;
    }

    .footer__list-title {
        font-size: 16px;
    }

    .footer__list-text {
        font-size: 12px;
    }
}






